<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <style>

    </style>
  </head>
  <body>
  body{
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
  }
  img {
    height: 150;
    width: 50;
    float: right;
    margin-left: 30px;
    align: right;
    padding-right: 400px;
    padding-left: 0px;
  }
  div {
    shape: triangle-right;
    float: left;
    border-top: 80px solid white;
    border-left: 0;
    border-bottom: 80px solid white;
    align: left;
    margin-left: 10px;
  }
  h1 {
    align: center;
  }
  h2 {
    align: center;
  }
  form {
    align: center;
    height: auto;
    width: auto;
    padding-top: 10px;
    padding-bottom: 102px;
  }
  div {
    margin-left: 10px;
    padding-left: 20px;
    padding-right: 0;
  }
    p {
      align: center;
    }
  div {
    float: bottom-right;
    position: footer;
  }
  </body>
</html>
